---
import PageLayout from '../layouts/BaseLayout.astro'
import Section from '../components/Section.astro'
import Card from '../components/Card.astro'
import ProjectCard from '../components/ProjectCard.astro'
import Label from '../components/Label.astro'
import SkillLayout from '../components/SkillLayout.astro'
import PostPreview from '@/components/blog/PostPreview.astro'

import { Image } from 'astro:assets'
import astro from '../assets/me.jpg'

import { getAllPosts, sortMDByDate } from '@/utils'

const languages = ['PHP', 'Javascript']
const frontend = ['Livewire', 'HTML', 'CSS', 'Tailwind CSS', 'Alpine.js']
const backend = ['Laravel', 'Livewire', 'MySQL', 'SQLite', 'Filament', 'WordPress', 'Pest', 'Larastan']
const others = ['OOPHP', 'MVC', 'Git', 'Ploi', 'DigitalOcean', 'Sentry', 'Cloudflare', 'Mailgun', 'Photography', 'Video', 'Photoshop', 'Illustrator', 'Premiere Pro']

const MAX_POSTS = 10
const allPosts = await getAllPosts()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }}>
	<div class='flex w-full flex-col gap-y-10'>
		<section class='flex flex-col items-center gap-y-7'>
			<Image
				src={astro}
				alt='profile photo'
				class='h-28 w-auto rounded-full p-2'
				loading='eager'
			/>

			<div class='flex flex-col items-center gap-y-4'>
				<div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
					<Label title='Automotive Risk Management Partners'>
						<svg xmlns="http://www.w3.org/2000/svg" class='h-6 w-6' slot='icon' fill="none" color="#000"><path fill="currentColor" d="m12 14-.226.715.226.072.226-.072L12 14Zm-9.5-3h-.75v.55l.524.165L2.5 11Zm19 0 .225.715.524-.165V11h-.75Zm0-5h.75a.75.75 0 0 0-.75-.75V6Zm-19 0v-.75a.75.75 0 0 0-.75.75h.75Zm0 .75h19v-1.5h-19v1.5Zm18.774 3.535-9.5 3 .452 1.43 9.5-3-.452-1.43Zm-9.048 3-9.5-3-.452 1.43 9.5 3 .452-1.43ZM1.75 6v5h1.5V6h-1.5Zm20.5 5V6h-1.5v5h1.5Z"/><path stroke="currentColor" stroke-linejoin="round" stroke-width="1.5" d="m3.463 11.5-.001 10h17.075v-10M15.5 6V2.5h-7V6"/></svg>
					</Label>
					<Label title='Island Lake, Illinois'>
						<svg xmlns="http://www.w3.org/2000/svg" class='h-6 w-6' slot='icon' fill="none" color="#000"><path stroke="currentColor" stroke-width="1.5" d="M15.5 11a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"/><path stroke="currentColor" stroke-width="1.5" d="M21 11c0 7-9 11-9 11s-9-4-9-11a9 9 0 0 1 18 0Z"/></svg>
					</Label>
					<Label
						title='Connect on Linkedin'
						as='a'
						href='https://www.linkedin.com/in/joelohrdev/'
						target='_blank'
					>
					<svg xmlns="http://www.w3.org/2000/svg" class='h-6 w-6' slot='icon' fill="none" color="#000"><path stroke="currentColor" stroke-linejoin="round" stroke-width="1.5" d="M7 9v8M11 13v4m0-4a3 3 0 1 1 6 0v4m-6-4V9"/><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7.008 7h-.009"/><path stroke="currentColor" stroke-linecap="square" stroke-linejoin="round" stroke-width="1.5" d="M21 3v18H3V3h18Z"/></svg>
					</Label>
					<Label
						title='emailme@joelohr.com'
						as='a'
						href='mailto:emailme@joelohr.com'
					>
					<svg xmlns="http://www.w3.org/2000/svg" class='h-6 w-6' slot='icon' fill="none" color="#000"><path stroke="currentColor" stroke-linejoin="round" stroke-width="1.5" d="M22 11V2.5H2v17h8"/><path stroke="currentColor" stroke-width="1.5" d="m6 7 6 4 6-4"/><path stroke="currentColor" stroke-linejoin="round" stroke-width="1.5" d="M19 17a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 0v.5a1.5 1.5 0 0 0 3 0V17a4.5 4.5 0 1 0-4.5 4.5"/></svg>
					</Label>
				</div>
			</div>
		</section>

		<Section title='About'>
			<p class='text-muted-foreground'>
				Full Stack Developer with 13 years of experience building websites and web applications. I specialize in Laravel and Livewire, but I am also proficient in WordPress, TailwindCSS, Alpine.js, and more. I am a self-starter and a quick learner, always looking to improve my skills and learn new technologies. I am currently working as a Laravel Web App Developer for Automotive Risk Management Partners, building and maintaining a compliance dashboard for the automotive industry.
			</p>
		</Section>
		<!-- {
			allPostsByDate.length > 0 && (
				<Section title='Posts'>
					<ul class='flex flex-col gap-y-2'>
						{allPostsByDate.map((p) => (
							<li class='flex flex-col gap-x-2 sm:flex-row'>
								<PostPreview post={p} />
							</li>
						))}
					</ul>
				</Section>
			)
		} -->

		<Section title='Experience'>
			<Card
				heading='Automotive Risk Management Partners'
				subheading='Laravel Web App Developer'
				date='Dec 2022 - Current'
				imagePath='/src/assets/binary.png'
				altText='Lorem, ipsum dolor sit'
				imageClass='h-8 w-auto md:-left-16 opacity-0'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>Sole developer to build and manage a compliance dashboard.</li>
					<li>Built with the TALL stack (TailwindCSS, Alpinejs, Laravel, Livewire)</li>
					<li>Features: Multi-Tenancy, Employee Invites, Roles/Permissions, Courses/Quizes, PDF Report Generation,
						Vendor Forms, Audit Forms, 3rd party API Intergrations, Notifications, Email Reminders, and more.
					</li>
					<li>Custom CRM built with Laravel and filament to manage potential and current clients and contacts, integrated with 
						the MailCoach API to add new contacts to mailing lists.</li>
					<li> Custom built and managed WordPress marketing site.</li>
				</ul>
			</Card>
			<Card
				heading='TurnKey Digital'
				subheading='WordPress Developer'
				date='Mar 2011 - Dec 2022'
				imagePath='/src/assets/binary.png'
				altText='Lorem, ipsum dolor sit'
				imageClass='h-8 w-auto md:-left-16 opacity-0'
			>
			<ul class='ml-4 list-disc text-muted-foreground'>
				<li>Built custom WordPress websites for local businesses</li>
				<li>Product/Location Photography and Video</li>
			</ul>
			</Card>
		</Section>

		<Section title='Projects'>
			<div class='flex flex-col gap-y-3 sm:flex-row sm:gap-x-3 sm:gap-y-0'>
				<ProjectCard
					as='div'
					heading='armp.app'
					subheading='Web App for Automotive Risk Management Partners using Laravel and Livewire'
					imagePath='/src/assets/armp.png'
					altText='Lorem, ipsum dolor sit'
					class='w-full sm:w-1/2'
				/>
				<ProjectCard
					heading='jacoblohr.com'
					subheading='Website to track Tournaments and Games using Laravel and Filament'
					imagePath='/src/assets/jl.png'
					altText='Jacob Lohr'
					class='w-full sm:w-1/2'
				/>
			</div>
		</Section>

		<Section title='Skills'>
			<SkillLayout title='Languages' skills={languages} />
			<SkillLayout title='Frontend' skills={frontend} />
			<SkillLayout title='Backend' skills={backend} />
			<SkillLayout title='Others' skills={others} />
		</Section>
	</div>
</PageLayout>
